@model IEnumerable<BTCK_LTC_.Models.Post>

@{
    ViewData["Title"] = "Home Page";
}

				<div class="row g-3 mb-4 align-items-center justify-content-between">
					<div class="col-auto">
						<h1 class="app-page-title mb-0">Bản tin</h1>
					</div>
					<div class="col-auto">
						 <div class="page-utilities">
							<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
								<div class="col-auto">
									<form class="docs-search-form row gx-1 align-items-center" asp-action="Index">
										<div class="col-auto">
											<input type="text" id="search-docs" name="searchdocs" class="form-control search-docs" placeholder="Tìm kiếm">
										</div>
										<div class="col-auto">
											<select class="form-select w-auto" name="CategoryId" asp-items="@ViewBag.CategoryId">
													<option selected="" value="">-- All --</option>
											</select>
										</div>
										<div class="col-auto">
											<select class="form-select w-auto" name="CompanyId" asp-items="@ViewBag.CompanyId">
													<option selected="" value="">-- All --</option>
											</select>
										</div>
										<div class="col-auto">
											<button type="submit" class="btn app-btn-secondary">Tìm kiếm</button>
										</div>
									</form>

								</div><!--//col-->
								
								
							</div><!--//row-->
						</div><!--//table-utilities-->
					</div><!--//col-auto-->
				</div><!--//row-->

				<div class="row g-4">
				@foreach(var item in Model)
				{
						<div class="col-6 col-md-4 col-xl-3 col-xxl-3">
							<div class="app-card app-card-doc shadow-sm  h-100">
								<div class="app-card-thumb-holder p-3">
									<div class="app-card-thumb">
										<img class="thumb-image" src="~/thumbnails/@item.Thumbnail" alt="">
									</div>
									<a class="app-card-link-mask" asp-action="Details" asp-route-id="@item.Id"></a>
								</div>
								<div class="app-card-body p-3 has-card-actions">

									<h4 class="app-doc-title truncate mb-0"><a asp-action="Details" asp-route-id="@item.Id">@item.Title</a></h4>
									<div class="app-doc-meta">
										<ul class="list-unstyled mb-0">
											<li><span class="text-muted">Type:</span> @item.Category.Name</li>
											<li><span class="text-muted">Employee:</span> @item.Employee.Name</li>
											<li><span class="text-muted">Company:</span> @item.Employee.Company.Name</li>
											@if (item.CategoryId == 2)
											{
												<li><span class="text-muted">Date:</span> @item.Date</li>
											}
											<li><span class="text-muted">Post Date:</span> @item.PostDate</li>
										</ul>
									</div><!--//app-doc-meta-->								

								</div><!--//app-card-body-->

							</div><!--//app-card-->
						</div><!--//col-->
					
				}
				</div><!--//row-->
				
				<nav class="app-pagination mt-5">
					<ul class="pagination justify-content-center">
						<li class="page-item disabled">
							<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
						</li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item">
							<a class="page-link" href="#">Next</a>
						</li>
					</ul>
				</nav><!--//app-pagination-->
