@model IEnumerable<BTCK_LTC_.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Quản Lý Bài Đăng</h1>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <p>
        <a asp-action="CreateThongBao" class="btn btn-outline-success" style="margin: 0px 5px 0px 0px">Thêm mới thông báo</a>
        <a asp-action="CreateLichTrinh" class="btn btn-outline-success" style="margin: 0px 5px 0px 0px">Thêm mới lịch trình</a>
    </p>
    <form class="docs-search-form row gx-1 align-items-center" asp-action="Index">
        <div class="col-auto">
            <input type="text" id="search-docs" name="searchdocs" class="form-control search-docs" placeholder="Tìm kiếm">
        </div>
        <div class="col-auto">
            <select class="form-select w-auto" name="CategoryId" asp-items="@ViewBag.CategoryId">
                    <option selected="" value="">-- All --</option>
            </select>
        </div>
        <div class="col-auto">
            
            <select class="form-select w-auto" name="PostDate">
                @if (ViewBag.PostDate == "1" || ViewBag.PostDate == null)
                {
                        <option selected="" value="1">Mới nhất</option>
                        <option value="2">Cũ nhất</option>
                }
                else
                {
                        <option value="1">Mới nhất</option>
                        <option selected="" value="2">Cũ nhất</option>
                }
                
                    
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn app-btn-secondary">Tìm kiếm</button>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thumbnail)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thumbnail)
            </td> *@
            <td> 
                @Html.DisplayFor(modelItem => item.Date)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Sửa</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Chi tiết</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
